.top-para{
  width:30%;
  margin-left:auto;
  margin-right:auto;
  line-height:2;
}

a{
  color:#11999E;
}
body{
  color:#40514E;
}
.first{
  background-color:#EAF6F6;
  position:relative;
  padding-top:100px;
}
.middle-container{
  padding-top:100px;
  padding-bottom:100px;
}
h1{
  margin-top:50px;
  margin-bottom:20px;
  font-family:"Sacramento",cursive;
  font-size:5.65rem;
  color:#11999E;
}
ul{
  color:#40514E;
}
.prog{
  margin:0 auto 0 auto;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align:left;
  line-height:2;
}
.image-hacker{
  width:25%;
  background-color:#66BFBF;
  border-radius:50%;
  float:right;
  margin-left:30px;
}
.image-lang{
  width:25%;
  background-color:#66BFBF;
  border-radius:50%;
  float:left;
  margin-right:30px;
}
.list{
  display: inline-block;
  margin-left: 0;
  margin-top: 0;
  padding-left: 20px
}
hr{
  width:6%;
  border-style:dotted;
  border-width:10px;
  border-top:0;
  border-color:#EAF6F6;
  border-right:0;
  border-left:0;
}
.top-hr{
  padding-top:20px;
  padding-bottom:20px
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size:2.5rem;
  color:#11999E;
  font-weight:normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
}
body{
  margin:0;
  text-align:center;
  font-family: 'Merriweather Sans', sans-serif;
}
.second_cloud {
  position:absolute;
  left:300px;
  bottom:300px;
}
.first_cloud {
  position:absolute;
  top:50px;
  right:300px;
}
.but{
  padding:10px 0 10px 0;
  margin: 20px auto 20px auto;
  background-color:#11999E;
  font-family:'Montserrat', sans-serif;
  border:0;
  color:white;
  border-radius:10px;
  width:9%;
}
.but:hover{
  background-color:#A5C9CA;
  color:#231955;
}

.bottom-container{
  background-color:#66BFBF;
  padding: 40px 0 40px 0;
}
a{
  margin:20px;
}
.footer-link{
  text-decoration: none;
}
.footer-link:hover{
  color:#EAF6F6;
}
.foot{
  font-family:"Montserrat", sans-serif;
  font-size:0.75rem;
  padding:20px 0;
}
